#                                                                         #
#   ╔╦╗┌─┐┬  ┬ ┬┌─┐                                                       #
#    ║ ├─┘│  │ │└─┐                                                       #
#    ╩ ┴  ┴─┘└─┘└─┘                                                       #
#                                                                         #
#    Tplus Server Configuration File                                      #
#                                                                         #
#                                                                         #
#    Note: It is generally a good idea to use the cli command to change   #
#           settings in this File                                         #
#                                                                         #
#    -----------------------------------------------------------------    #


# Directory where Tplus Server will store all its data
DataDir: {{datadir}}

# Mode: What is this Server used for?
# can be:
#      local: Local development
#      workshop: For use by multiple anon users
#      team: For use by multiple trusted users
Mode: {{mode}}

# Register Settings, only applies when mode != local
Register:
  Enabled: {{reg_enabled}} # Allow Users to register
  ReCaptchaEnabled: {{req_recaptcha_enabled}} # Use Google Recaptch
  ReCaptchaCode: {{reg_recaptcha_code}} # Recaptcha Secret
  AllowPublicNodes: {{reg_public_nodes}} # Allow users to create public nodes
  MaxEnvs: {{reg_max_envs}} # max Environments per User
  RequireInviteCode: {{reg_invite}} # Require invite codes when signup, yes no


# Port for the web interface (UI + API):
WebPort: {{webport}}